@model ProyectoPROGEND.Models.DatosUser
<div class="container mt-5 fondo-selecciones">
    <h2 class="mb-4 colo-titulo">Actualizar Datos</h2>
    <div class="form-container">
        <form asp-action="UpdateDatos" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="CaloriasConsumidas" value="0" />
                <label for="floatingInput">Calorias consumidas:</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="CaloriasQuemadas" class="form-control" value="0" />
                <label for="floatingInput">Calorias quemadas:</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Peso" class="form-control" />
                <label for="floatingInput">Peso (En kilos):</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Altura" class="form-control" />
                <label for="floatingInput">Altura (En centímetros):</label>
            </div>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </form>
    </div>
    <br>
    <div><br>
        <a class="btn btn-primary" asp-action="Index">Inicio</a>
    </div>
</div>
