@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center color-divfondo">
    <h2 class="display-8 color-titulo">Fitss</h2>
    <p><a href="https://alqueria.com.co/blog-nutricion-bienestar/vida-fitness">ver...</a></p>
        <img src="~/images/FIT1.png" alt="" 
        width="320px"/>

</div>
