@{
    ViewData["Title"] = "Home Page";
}
<div class="contenedor Fondo-main">
    <p class="texto-esquina "><a href="https://alqueria.com.co/blog-nutricion-bienestar/vida-fitness">Leeme</a></p>

</div>
