@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center Fondo-main">
    <h2 class="display-8 color-titulo">Fitss</h2>
    <p><a href="https://alqueria.com.co/blog-nutricion-bienestar/vida-fitness">ver...</a></p>

</div>
