@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center color-divfondo">
    <h1 class="display-8 color-titulo">Tecno-Fitss</h1>
    <p><a href="https://alqueria.com.co/blog-nutricion-bienestar/vida-fitness">Vida fitness</a></p>
        <img src="~/images/FIT1.png" alt="" 
        width="320px"/>

</div>
