@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar la confirmación del correo electrónico";
}
<div class="Fondo-main">
    <h1 class="colo-titulo">@ViewData["Title"]</h1>
    <br>
    <h2 class="colo-titulo">Ingresa tu correo electrónico.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">nombre@ejemplo.com</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reenviar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
