@model ProyectoPROGEND.Models.Recetas;
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input asp-for="Nombre" placeholder="" class="form-control" required>
        <label for="floatingInput">Nombre De la Receta</label>
    </div><br>
    <div class="form-floating mb-3">
        <input type="file" name="imagen" class="form-control" required/>
    </div><br>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" asp-for="Ingredientes"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Lista De ingredientes</label>
    </div><br>
    <div class="form-floating">
        <input asp-for="Calorias" placeholder="" class="form-control" required>
        <label for="floatingTextarea2">Calorias de el producto</label>
    </div><br>
    <div class="form-floating">
        <input asp-for="Proteinas" placeholder="" class="form-control" required>
        <label for="floatingTextarea2">Proteinas</label>
    </div><br>
    <div class="form-floating">
        <input asp-for="Carbohidratos" placeholder="" class="form-control" required>
        <label for="floatingTextarea2">Introduzca Carbohidratos en Kcal</label>
    </div><br>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" asp-for="Instrucciones"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Instrucciones Para elaborar Receta</label>
    </div>

    <br>
    <button type="submit" value="Create" class="btn btn-primary">Guardar</button>

</form>
<br>
<div>
    <a class="btn btn-primary" asp-action="Index">Inicio</a>
</div>